

.custom-purple {
  color: #4b0082;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  margin: 0;
  padding: 0;
}

/* Logo */
.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 3rem;
  text-align: center;
  color: #4b0082;
  margin-top: 50px;
}

/* Popup  */
.popup {
  font-size: 14px;
  background-color: #fff;
  border: 10px solid #f5dbed;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 400px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  transition: max-height 0.4s ease;
  
}

/* Picture style setting */
.popup img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* Text contents */
.popup h1.title {
  font-size: 22px;
  color: #4b0082;
  margin-bottom: 10px;
}

.popup .thanks-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.popup .info-text {
  margin-bottom: 8px;
  font-size: 15px; 
}

.popup .resend-text {
  margin-top: 20px;
  font-size: 16px; 
  text-align: center;
}

.popup .resend-link {
  color: #4b0082;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.popup .resend-link:hover {
  text-decoration: underline;
}

.popup .resend-link.disabled {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
  text-decoration: none;
}

.resend-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#resend-feedback {
  text-align: center;
  display: none;
}

.resend-message {
  font-size: 15px;
  font-weight: normal;
  color: #4b0082;
}

.wait-message {
  font-size: 15px;
  color: #28a745;
}

/* Countdown bar */
.progress {
  height: 20px;
  background-color: white;
  border-radius: 10px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #f5dbed;
  transition: width 1s linear;
  border-radius: 10px;
}

.progress-bar.empty {
  background-color: #f5dbed;
}

.message-container {
  margin-top: 10px;
  font-size: 14px;
}

/* Mobile */
@media (max-width: 768px) {
  .popup {
    margin: 30px 15px;
  }

  .logo {
    font-size: 3rem;
    margin-top: 50px;
  }

  .popup h1 {
    font-size: 1.3rem;
  }

  .popup {
    font-size: 13px;
  }
}
