@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');


body {
    font-family: "Quicksand", Arial, sans-serif;
    background: linear-gradient(to right, #f3e7e9, #e3eeff);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Ana İçerik */
main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

