/* Form Konteyneri */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.register-form-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: left;
}

/* Form Stili */
.register-form-label {
    font-weight: bold;
    color: #5a0080;
    display: block;
    margin-top: 10px;
}

.form-input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Hata MesajlarÄ± */

.error {
  font-size: 12px;
    color: red;
    margin-top: 3px;
    
}
/* Radyo ButonlarÄ± */
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
}

/* Checkbox */
.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}

.checkbox-input {
    margin-right: 10px;
}

/* Butonlar */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submit-btn, .cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn {
    background-color: #c797eb;
    color: white;
}

.cancel-btn {
    background-color: #ff7f7f;
    color: white;
}

.submit-btn:hover {
    background-color: #a05fcf;
}

.cancel-btn:hover {
    background-color: #ff4d4d;
}

@media (max-width: 480px) {
    .register-form-wrapper {
      padding: 1.2rem;
      max-width: 90vw;
    }

    .radio-option {
      font-size: 0.9rem;
    }

    .button-group {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .button-group button {
      width: 100%;
    }
}